.p4*
.DS_Store
.AppleDouble
.filters
.vs
CMakeFiles
*.vcxproj.filters
*.tlog
*.ilk
*.recipe
*.lastbuildstate
vc142.pdb
*.obj
*.cmake
*.exp
*.pch
*.pdb
__init__.pyc
*.pyc
__pycache__/
*.gch
CMakeCache.txt
